{% schema %}
{
 "name": "Product Pad - Image/Text",
 "settings": [
 ],
 "blocks":[
   {
     "type": "blade",
     "name": "Blade",
     "settings":[
       {
         "id": "title",
         "type": "text",
         "label": "Title"
       },
       {
         "id": "text",
         "type": "richtext",
         "label": "Text"
       },
       {
         "id": "image",
         "type": "image_picker",
         "label": "Image"
       },
       {
         "id": "videoIframe",
         "type": "text",
         "label": "Video Iframe"
       }
     ]
   }
 ]
}
{% endschema %}
{% if section.blocks.size > 0 %}
<div class="prodSBS">
  <div class="prodSBS__inner">
    {% for block in section.blocks %}
    {% if block.type == 'blade' %}
      {% assign side = forloop.index | modulo: 2 %}
      <div class="prodBlade prodBlade--{{ side }}">
        <div class="prodBlade__inner">
          <div class="prodBlade__textWrapper">
            <div class="prodBlade__title text--28 text--blue text--com">
              {{ block.settings.title }}
            </div>
            <div class="prodBlade__text text--15">
              {{ block.settings.text }}
            </div>
          </div>
          <div class="prodBlade__imageWrapper">
            <div class="prodBlade__imageInner">
              <img class="prodBlade__image lazyload"
              data-src="{{ block.settings.image | img_url: '1160x' }}"
              alt="{{ block.settings.image.alt }}">
              {% if block.settings.videoIframe != '' %}
              <div class="prodBlade__vid">
                <button class="prodBlade__vidButton" vidRef='{{ block.settings.videoIframe }}'>
                  <img class="prodBlade__playImg lazyload"
                  data-src="https://cdn.shopify.com/s/files/1/0441/3567/8105/files/Fill_1_Copy_7.png?v=1595619340"
                  alt="play button">
                  <span class="prodBlade__vidText text--15 text--white">
                    Watch Video
                  </span>
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}