{% schema %}
{
 "name": "Prod-Subscription",
 "settings": [
   {
     "id": "backgroundColor",
     "type": "select",
     "label": "Background Color",
     "options": [
        { "value": "white", "label": "White" },
        { "value": "D1EEFF", "label": "Blue" }
     ]
   },
   {
     "id": "use_tab_subscription_layout",
     "type": "checkbox",
     "label": "Use Tab Subscription Layout",
     "default" : true
   },
   {
     "id": "shippingText",
     "type": "text",
     "label": "Shipping Text"
   },
   {
     "id": "videoThumb",
     "type": "image_picker",
     "label": "Video Thumbnail"
   },
   {
     "id": "videoIframe",
     "type": "text",
     "label": "Video Iframe"
   }
 ]
}
{% endschema %}

{% render 'product-zoom-js' %}

<div class="prodMain" style="background-color:{{ section.settings.backgroundColor }};">
  <div class="prodMain__inner">
    <div class="prodMain__left">
      <div class="prodMain__upperSlider__alt">
      {% assign imgAmt = 0 %}
        {% for image in product.images %}
          <div class="prodMain__upperSlideWrapper zoom_image-container">
            <img class="prodMain__upperSlide lazyload"
            data-src="{{ image.src | product_img_url: '1160x' }}"
            alt="{{ image.alt }}">
          </div>
          {% assign imgAmt = imgAmt | plus: 1 %}
        {% endfor %}
        {% if section.settings.videoThumb != '' and section.settings.videoIframe != '' %}
          <div class="prodMain__upperSlideWrapper" vidRef='{{ section.settings.videoIframe }}'>
            <img class="prodMain__upperSlide lazyload"
            data-src="{{ section.settings.videoThumb | img_url: '1160x' }}"
            alt="{{ section.settings.videoThumb.alt }}">
            <div class="prodBlade__vid">
                <button class="prodBlade__videoButton__big" vidRef='{{ section.settings.videoIframe }}'>
                  <img class="prodBlade__playImg lazyload"
                  data-src="https://cdn.shopify.com/s/files/1/0441/3567/8105/files/Fill_1_Copy_7.png?v=1595619340"
                  alt="play button">
                  <span class="prodBlade__vidText text--15 text--white">
                    Watch Video
                  </span>
                </button>
              </div>
          </div>
          {% endif %}
      </div>
      <!-- <button class="slick-prev" aria-label="Next" type="button" style="">Prev</button> -->
      {% if product.images.size > 1 %}
      <div class="prodMain__lowerSlider__alt">
           
        {% for image in product.images %}
          <div class="prodMain__lowerSlideWrapper">
            <img class="prodMain__lowerSlide lazyload"
            data-src="{{ image.src | product_img_url: '200x' }}"
            alt="{{ image.alt }}">
          </div>
        {% endfor %}
        {% if section.settings.videoThumb and section.settings.videoIframe != '' %}
          <div class="prodMain__lowerSlideWrapper" vidRef='{{ section.settings.videoIframe }}'>
            <img class="prodMain__upperSlide lazyload"
            data-src="{{ section.settings.videoThumb | img_url: '200x' }}"
            alt="{{ section.settings.videoThumb.alt }}">
            <div class="prodBlade__vid">
                <button class="prodBlade__videoButton__sm" vidRef='{{ section.settings.videoIframe }}'>
                  <img class="prodBlade__playImg lazyload"
                  data-src="https://cdn.shopify.com/s/files/1/0441/3567/8105/files/Fill_1_Copy_7.png?v=1595619340"
                  alt="play button">
                  <!-- <span class="prodBlade__vidText text--15 text--white">
                    Watch Video
                  </span> -->
                </button>
              </div>
          </div>
        {% endif %}
      </div>
      {% endif %}
      <!-- <button class="slick-next" aria-label="Prev" type="button" style="">Next</button>  --> 
    </div>
    <div class="prodMain__right">
      <div class="prodMain__text">
        <h1 class="prodMain__title text--28 text--com text--blue">
          {{ product.title }}
        </h1>
        <div class="access__stars">
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}
        </div>

        <div class="prodMain__description text--15">
          {{ product.description }}
        </div>

        <div class="prodMain__priceRow">
          <div class="prodMain__price text--18" id="price">
            {{ product.price | money }}
          </div>
          <div class="prodMain__comparePrice text--15 text--gray" id="compare">
            {{ product.compare_at_price | money }}
          </div>
        </div>
{% comment %}
        <div class="prodMain__dropRow" {% if product.variants.size == 1 %}style="display:none;"{% endif %}>
          <label class="prodMain__label text--15" for="variantDrop">
            Select Variant:
          </label>
          <select class="prodMain__select" id="variantDrop">
            {% for variant in product.variants %}
              <option value="{{ forloop.index0 }}" {% if forloop.first %}selected{% endif %}>{{ variant.title }}</option>
            {% endfor %}
          </select>
        </div>
{% endcomment %}
        {% form 'product', product, data-productid: product.id %}
        	{% if product.available %}
        	{% render 'subscription-product' %}
        {% endif %} 
        	<input type="hidden" name="id" value="{{ product.variants.first.id }}" data-productid="{{product.id}}" /><br>
        	<input type="hidden" name="selling_plan" value="{{product.selling_plan_groups[0].selling_plans[0].id}}" />
            <div class="prodMain__buyRow">
              <div class="prodMain__qtyWrapper">
                <label class="prodMain__label text--15" for="quantity">
                  Qty
                </label>
                <input class="prodMain__qty text--15" name="quantity" min="1" id="quantity" value="1" />
              </div>
              <button class="new-atc-bt" type="submit">Add To Cart</button>
            </div>
      	{% endform %}
       
        {% if section.settings.use_tab_subscription_layout == true %}
        	{% include 'product-custom-recharge' %}
        {% endif %}
      
          <div class="prodMain__buyRow__shipping">
            <div class="prodMain__buyRow__shipping__spacer"></div>
              <div class="prodMain__shippingText text--15">
                {{ section.settings.shippingText }}
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener('load', () => {
    const options2 = {
        fillContainer: true,
        offset: {vertical: 0, horizontal: 10}
    };
    const imghover = document.querySelectorAll('.zoom_image-container');
    const bodyclass = document.querySelector('body');
    imghover.forEach((img) => {
      img.addEventListener('mouseover', (event) => {
        bodyclass.classList.add("active_overflow");
      });
    })

    imghover.forEach((img) => {
      img.addEventListener('mouseleave', (event) => {
        bodyclass.classList.remove("active_overflow");
      });
    })

    
    new ImageZoom(document.querySelectorAll('.zoom_image-container')[0], options2); 
    
    document.querySelectorAll('.prodMain__lowerSlider__alt .slick-slide').forEach((slide) => {
      slide.addEventListener('click', () => {
        setTimeout(() => {
          const selectedMain = document.querySelector('.prodMain__upperSlider__alt .slick-slide.slick-active .zoom_image-container');
          new ImageZoom(selectedMain, options2);  
        },100);
      });
    })
  });
</script>

<script>
  $('.prodMain__upperSlider__alt').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      asNavFor: '.prodMain__lowerSlider__alt',
      arrows: true,
      infinite: true,
      fade: true
  });

  $('.prodMain__lowerSlider__alt').slick({
      slidesToShow: {{ imgAmt }},
      slidesToScroll: 1,
      asNavFor: '.prodMain__upperSlider__alt',
      infinite: true,
      dots: false,
      arrows: false,
      centerMode: false,
      focusOnSelect: true
  });

$(window).ready(function () {
  let reviewCount = $(".jdgm-rev-widg__summary-text").html();
  reviewCount = reviewCount.match(/\d+/)[0];
  $(".prodMainRev__count").html("(" + reviewCount + " reviews)");
});


</script>

<style>
  img.rc_popup__icon{
    width: auto;
  }
  
  button.new-atc-bt {
    width: calc(100% - 100px);
    border-radius: 3px;
    visibility:visible;
    background: #0FA3FA !important;
    border: 2px solid #0FA3FA !important;
    color: white !important;
    font-weight: 600;
    font-size: 15px;
    height: 46px;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
    padding: 0px 74px;
  }
  
  button.new-atc-bt:hover {
    background: white !important;
    color: #0FA3FA !important;
  }
  .prodMain__lowerSlider__alt .slick-slide{
  	max-width: 116px;
  }
  
  @media (max-width: 768px){
    button.new-atc-bt {
    	width: 100%;
    }
  }
</style>
